@using DoAnLTHDT.ENTITIES_OBJECT
@using DoAnLTHDT.BUSSINESS_SERVICE

@{
    Layout = null;
    string Chuoi = string.Empty;
    var xl = new XL_SANPHAM();
    List<SANPHAM> hangHetHan = xl.HangHetHan();

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

</head>
<body>
    <h1>DANH SÁCH THỐNG KÊ HÀNG HẾT HẠN SỬ DỤNG</h1>
    <div>
        <table style="width: 400px">
            <tr>
                <th>ID</th>
                <th>TenHang</th>
                <th>HanDung</th>
                <th>CongtySX</th>
                <th>NamSanXuat</th>
                <th>LoaiHang</th>
            </tr>
            @foreach (var sp in hangHetHan)
            {
                <tr>
                    <td>@sp.ID</td>
                    <td>@sp.TenHang</td>
                    <td>@sp.HanDung</td>
                    <td>@sp.CongtySX</td>
                    <td>@sp.NamSanXuat</td>
                    <td>@sp.LoaiHang</td>
                </tr>
            }

        </table>
    </div>

    <br />
    <div style="text-align: center">
        <form action="~/UI/Index.cshtml" method="post">
            <a href="~/UI/Index.cshtml">
                <input type="button" value="Back to Main page" />
            </a>
        </form>
    </div>
</body>
</html>
